#topbar {
    background-color: black;
    height: 30px;
    width: 100%;
}

#header img {
    height: 150px;
}

#header ul {
    float: right;
}

#header ul li {
    display: inline;
    margin-left: 25px;
    font-size: 29px;
    margin-right: 20px;
}

.io {
    -ms-text-combine-horizontal: all;
    display: inline;
    font-size: 40px;
    margin-right: 100px;
}

#it {
    -ms-text-combine-horizontal: all;
    display: inline;
    font-size: 40px;
    margin-right: 100px;
    margin-block-end: 40px;
}

#btn {
    position: relative;
    color: cornsilk;
    height: 50px;
    width: 100px;
    display: inline;
    background-color: tomato;
}

.container {
    position: absolute;
    top: 0px;
    left: 700px;
    background-color: lightpink;
    height: 1100px;
    width: 300px;
}

.box {
    padding: 2px 0px;
    position: relative;
    top: 40px;
    text-align: center;
}

.boxes {
    padding: 3px 7px 7px 7px;
    position: relative;
}

fieldset {
    border: 2px solid blue;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: lightblue;
}